.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-form {
  padding-top: 1em;
}

.App-form li {
  list-style: none;
}

.App-form input[type="text"] {
  border: 1px solid #61dafb;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0 0 1em;
  display: block;
  width: 50em;
  color: white;
  background: #3c4048;
}

.App-form input::placeholder {
  color: #118aab;
}

.App-form hr {
  border: 1px solid #61dafb;
  margin: 2em 0;
}

.App-form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-form label {
  border: 1px solid #61dafb;
  padding: 1em;
  margin: 0 0 1em;
  width: 15em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-form label:hover {
  background: #c5ffff;
  cursor: pointer;
  color: #3c4048;
}

.App-form input[type="checkbox"] {
  margin-right: 1em;
  min-width: 2em;
  min-height: 2em;
}

.App-form label span.todoText {
  flex-grow: 2;
}

.App-form li.disabled label {
  color: grey;
  border: 1px solid grey;
}

.App-form li.disabled label:hover {
  background: #464a52;
  cursor: pointer;
}

.App-form li.disabled input[type="checkbox"] {
  border: 1px solid grey;
  opacity: 0.5;
}
